header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
    position: relative;
}

.logo { 
    display: inline-block;
    width: 68px;
    width: 64px;
    cursor: pointer;
}

nav {
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--background-tertiary-color);
}

.navegation-menu {
    margin-top: 24px;
}

.list-links {
    list-style: none;
    font-family: var(--);
}

.list-links li {
    margin: 16px 0;
}

.list-links li a {
    color: var(--text-secondary-color);
    text-decoration: none;
}