.payment .section-title {
    margin-top: 88px;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 312px;
    margin-bottom: 24px;
}

.text-content h3 {
    margin: 0px;
}

.img-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    height: 460px;
    width: 312px;
    margin-bottom: 88px;
}

.img-container {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.img-container.bag {
    background-image: url(/img/img-bag.png);
}

.img-container.passport {
    background-image: url(/img/img-passport.png);
}

.img-container.people {
    background-image: url(/img/img-people.png);
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
    .img-container.bag {
        background-image: url(/img/img-bag-desktop.png);
    }

    .img-container.passport {
        background-image: url(/img/img-passport-desktop.png);
    }

    .img-container.people {
        background-image: url(/img/img-people-desktop.png);
        grid-column: span 2;
    }

    .text-content {
        max-width: 648px;
    }

    .img-content {
        width: 648px;
    }
}

@media screen and (min-width: 1440px) {
    .content {
        display: flex;
        gap: 24px;
        max-width: 1198px;
        height: 460px;
        margin-bottom: 104px;
    }

    .text-content {
        max-width: 384px;
    }

    .img-content {
        width: 790px;
    }
}

/* PÁGINA DE PACOTES DE VIAGEM (COMPONENTIZAÇÃO DA SECTION) */
/* PÁGINA DE PACOTES DE VIAGEM (COMPONENTIZAÇÃO DA SECTION) */
/* PÁGINA DE PACOTES DE VIAGEM (COMPONENTIZAÇÃO DA SECTION) */

.content-title h4 {
    font-size: 40px;
    margin: 0px;
}

.content-title p {
    font-size: 28px;
    margin: 0px;
    margin-top: 24px;
}

.text-content footer a {
    width: 312px;
    border-radius: 8px;
    text-align: center;
}

.img-content-pacotes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    height: 460px;
    width: 312px;
    margin-bottom: 88px;
}

.img-container.dojo {
    background-image: url(/img/img-payment1.png);
    height: 254px;
}

.img-container.city {
    background-image: url(/img/img-payment2.png);
    height: 254px;
}

.img-container.women {
    background-image: url(/img/img-payment3.png);
    grid-column: span 2;
    height: 182px;
}

@media screen and (min-width: 768px) {
    .img-container.dojo {
        background-image: url(/img/img-payments-desktop1.png);
    }

    .img-container.city {
        background-image: url(/img/img-payments-desktop2.png);
    }

    .img-container.women {
        background-image: url(/img/img-payments-desktop3.png);
        grid-column: span 2;
    }

    .text-content {
        max-width: 648px;
    }

    .img-content-pacotes {
        width: 648px;
    }

    .text-content footer {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .text-content {
        max-width: 384px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img-content-pacotes {
        width: 790px;
    }
}